:root {
  --primary-color: #dfccc5;
  --secondary-color: #f4eee1;
  --icon-color: #998076;
  --highlight-color: #c8aea4;
  --font-style-one: "Amsterdam";
  --font-style-two: "Catamaran", sans-serif;
  --font-style-three: "Open Sans", sans-serif;
  --font-style-four: "Cormorant", serif;
}

.paper-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  grid-gap: 16px;
  justify-content: center;
  padding: initial;
  transition: all 0.2s ease-in;
}

.outer-paper-products {
  margin: 150px 0;
}

.outer-paper-products ul {
  margin: 20px;
  display: flex;
  align-items: center;
}

.outer-paper-products li {
  position: relative;
  font-size: 33px;
  list-style: none;
  cursor: pointer;
}

.outer-paper-products ul > span {
  margin: 0 15px;
  font-size: 22px;
}

.inner-product-products {
  position: relative;
}

.item {
  transition: all 0.4s ease-in;
  opacity: 0;
  /* display: none; */
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-50px);
}

.item-wrapper {
  padding: 30px;
  display: flex;
  background-color: var(--primary-color);
}

.item-image {
  width: 350px;
  height: 350px;
}

.item-detail {
  text-align: center;
  justify-self: center;
  flex-grow: 3;
}

.item-detail p:nth-child(1) {
  font-size: 34px;
}
.item-detail p:nth-child(2) {
  font-size: 23px;
}
.item-detail p:nth-child(3) {
  font-size: 17px;
}

.item-detail > div {
  display: flex;
  /* justify-content: space-around; */
  justify-content: center;
  gap: 50px;
  align-items: center;
}

button {
  padding: 12px 25px;
  background-color: var(--highlight-color);
}

button:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}

table {
  border-spacing: 1em 5px;
  margin: 20px auto;
}

th {
  font-size: 18px;
  border: 1px solid black;
  padding: 7px 24px;
  margin: 5px;
}

.rating .fa {
  font-size: 30px;
  /* font-size: larger; */
  /* color: #f4eee1; */
}

.product {
  position: relative;
  background-color: var(--primary-color);
  text-align: center;
  width: 300px;
  height: 400px;
  border: 1px solid black;
}

.image-holder {
  padding: 10px;
  width: 100%;
  height: 300px;
}

img {
  cursor: pointer;
}

.product #PRP {
  font-size: 20px;
}
.product p {
  margin: 15px 0;
}

.product .favorite {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 30px;
}

.product .favorite .fa-heart {
  color: var(--icon-color);
}
