@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100&family=Cormorant:wght@300&family=Open+Sans&display=swap");
@font-face {
  font-family: Amsterdam;
  src: url(../assets/amsterdam-four-ttf-maisfontes.100e/amsterdam-four-ttf.ttf);
}

/* Define the needed styles */
:root {
  --primary-color: #dfccc5;
  --secondary-color: #f4eee1;
  --icon-color: #998076;
  --highlight-color: #c8aea4;
  --font-style-one: "Amsterdam";
  --font-style-two: "Catamaran", sans-serif;
  --font-style-three: "Open Sans", sans-serif;
  --font-style-four: "Cormorant", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--secondary-color);
}

header {
  top: 0;
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: var(--secondary-color);
  align-items: center;
  z-index: 99;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

/* .shrink {
  font-size: 24px;
} */

img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.container {
  max-width: 1025px;
  margin: auto;
}

section:not(:first-child) {
  margin: 150px 0;
}

.brand-name {
  position: relative;
  margin: 0 0 0 44px;
}

.brand-name span {
  transition: all 0.2s ease-in;
}

.brand-name span:nth-child(1) {
  font-family: var(--font-style-one);
  font-size: 34px;
}

.brand-name span:nth-child(2) {
  position: absolute;
  font-size: 21px;
  font-family: var(--font-style-two);
  bottom: 0;
  left: 65%;
}

.nav {
  margin: 0 44px 0 0;
}

.nav ul {
  font-family: var(--font-style-three);
  display: flex;
  list-style: none;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}

.nav ul li {
  padding: 0 1em;
}

.nav .fa {
  color: var(--icon-color);
  font-size: 24px;
}

.nav .fa:hover {
  color: #9980765c;
}

.nav ul a {
  text-decoration: none;
  color: black;
}

main {
  margin: auto;
}
