@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100&family=Cormorant:wght@300&family=Open+Sans&display=swap");
@font-face {
  font-family: Amsterdam;
  src: url(../assets/amsterdam-four-ttf-maisfontes.100e/amsterdam-four-ttf.ttf);
}

:root {
  --primary-color: #dfccc5;
  --secondary-color: #f4eee1;
  --icon-color: #998076;
  --highlight-color: #c8aea4;
  --font-style-one: "Amsterdam";
  --font-style-two: "Catamaran", sans-serif;
  --font-style-three: "Open Sans", sans-serif;
}

html {
  font-size: 1vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
  align-items: center;
}

.brand-name {
  position: relative;
  margin: 0 0 0 3em;
}

.brand-name span:nth-child(1) {
  font-family: var(--font-style-one);
  font-size: 2.9rem;
}

.brand-name span:nth-child(2) {
  position: absolute;
  font-size: 2rem;
  font-family: var(--font-style-two);
  bottom: 0;
  left: 65%;
}

.nav {
  margin: 0 3em 0 0;
}

.nav ul {
  font-family: var(--font-style-three);
  display: flex;
  list-style: none;
  font-size: 1.4rem;
  justify-content: center;
  align-items: center;
}

.nav ul li {
  padding: 0 1em;
}

.nav .fa {
  color: var(--icon-color);
  font-size: 2rem;
}

.nav ul a {
  text-decoration: none;
  color: black;
}

main {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(../assets/images/Beige\ and\ brown\ A4\ papers\ as\ office\ stationery\ flatlay\,\ luxury\ b.jfif);
  background-repeat: none;
  background-position: center;
  background-size: cover;
}

main::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(216, 176, 139, 0.427);
}

@media screen and (max-width: 480px) {
  html {
    font-size: 3vw;
  }
}
